

.banner {
    background-image: url(../../public/banner-home.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 55vh;
    background-color: #F9DB79;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    letter-spacing: 0.5vw;
    font-size: 5vw;
    color: white;
    text-shadow: #D9DDE1 4px 5px;

}

.secaoInformacoesContainer {
    width: 100%;
    display: flex;
}

.secaoInformacoesContainer img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.containerImagem {
    width: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

.secaoInformacoesTexto {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    height: 100%;
    line-height: 5vh;
    padding: 5%;
    
}

.secaoInformacoesTexto h3 {
    font-size: 3vw;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secaoInformacoesTexto span {
    font-weight: bold;
    font-size: 1.5vw;
}

@media (min-width:1024) and (max-width:1079){
    
}
@media (min-width:768px) and (max-width:1023px){

}
@media (min-width:375px) and (max-width:767px){

    .secaoInformacoesContainer {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        flex-wrap: wrap;
    }

}